:root {
  --backgroung-color: hsl(0, 0%, 100%);
  --text-color: hsl(0, 0%, 15%);
  --font-size: 16px;
}

@media screen and (min-width: 1024px) {
  :root {
    --font-size: 18px;
  }
}

:root {
  width: 100%;
  height: 100%;
  font-size: calc(16px + 6 * ((100vw - 320px) / 680));
  font-size: calc(5px + 1vw);
  background-color: var(--backgroung-color);
  color: var(--text-color);
}

body {
  font-size: var(--font-size);
  width: 100%;
  height: 100%;
  overflow-y: auto;
  margin: 0;
  padding: 0;
}

body * {
  font-size: inherit;
}

#__next {
  min-height: 100%;
  display: grid;
  grid-template-columns: 15rem 1fr 15rem;
  grid-template-rows: 4rem 1fr 2rem;
  align-content: space-between;
  justify-content: space-between;
  justify-items: stretch;
  align-items: stretch;
}

header {
  grid-area: 1 / 1 / 1 / span 3;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

main {
  grid-area: 2 / 2 / 2 / 2;
  overflow-y: auto;
}

footer {
  grid-area: 3 / 1 / 3 / span 3;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
